.form-container {
  width: 100vw;
  display: flex;
  justify-content: left;
}

.form-elem {
  margin: 10px;
}

.form-btn {
  padding: 5px 15px;
  font-family: 'Fugaz One';
  color: #F2C94C;
  background-color: #de1b1b;
  box-shadow: 3px 3px 6px 2px #000000;
}