.my-header {
  height: 20vh;
  width: 100vw;
  background-color: #de1b1b;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.location-title {
  font-family: 'Fugaz One';
  font-size: 15px;
  color: #F2c94c;
  flex-direction: column;
  text-align: center;
  /* align-items: center;
  align-content: space-around */
  
}

.header-title {
  font-family: 'Fugaz One';
  font-size: 51px;
  color: #F2C94C;
}

.btn-container {
  display: flex;
  position: relative;
}

.checkout-btn {
  margin-left: 500px;
  padding: 5px 15px;
  display: flex;
  float: right;
  justify-content: flex-end;
  text-align: right;
  display: inline-block;
  font-family: 'Fugaz One';
  color: #de1b1b;
  background-color:  #F2C94C;
  box-shadow: 3px 3px 6px 2px #000000;
}