.my-header {
  height: 20vh;
  width: 100vw;
  background-color: #de1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-family: 'Fugaz One';
  font-size: 51px;
  color: #F2C94C;
}

.btn-container {
  display: flex;
  position: relative;
}

.checkout-btn {
  margin-right: 5px;
  padding: 5px 15px;
  font-family: 'Fugaz One';
  color: #de1b1b;
  background-color:  #F2C94C;
  box-shadow: 3px 3px 6px 2px #000000;
}