.todo-item {
  width: 50%;
  height: 30px;
  background-color: whitesmoke;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-title {
  color: black;
  font-size: 18px;
  font-family: 'Fugaz One';
} 