.todo-item {
  width: 40%;
  height: 40px;
  background-color: whitesmoke;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-title {
  color: black;
  font-size: 18px;
  font-family: 'Fugaz One';
} 

.btn-container {
  display: flex;
  position: relative;
}

.product-btn {
  margin-left: 5px;
}