/* font-family: 'Fugaz One', cursive; */
body {
  height: 100vh;
  background-color: #c4c4c4;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.curbed.com%2F2017%2F2%2F6%2F14454046%2Fnyc-bodega-cats&psig=AOvVaw1ZRb0Ca1iLuM-rB0lJt1uY&ust=1596549445927000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOC6-ayY_-oCFQAAAAAdAAAAABAD");
}
/* 
body {
  width: 100px;
  background-image: url("/Users/catalina/DevMtn/unit4/day5/wr3-bodega-nodb/Bodega-cat-and-store-owner.jpg");
  height: 200px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */