body {
  width: 100px;
  background-image: url('/Users/catalina/DevMtn/unit4/day5/wr3-bodega-nodb/Bodega-cat-and-store-owner.jpg');
  height: 200px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
